@model Proyecto1.Models.Employees

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EMPLOYEE_ID" />
            <div class="form-group">
                <label asp-for="FIRST_NAME" class="control-label"></label>
                <input asp-for="FIRST_NAME" class="form-control" value="@Model.FIRST_NAME" />
                <span asp-validation-for="FIRST_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LAST_NAME" class="control-label"></label>
                <input asp-for="LAST_NAME" class="form-control" value="@Model.LAST_NAME"   />
                <span asp-validation-for="LAST_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMAIL" class="control-label"></label>
                <input asp-for="EMAIL" class="form-control" value="@Model.EMAIL"   />
                <span asp-validation-for="EMAIL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PHONE" class="control-label"></label>
                <input asp-for="PHONE" class="form-control" value="@Model.PHONE"   />
                <span asp-validation-for="PHONE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HIRE_DATE" class="control-label"></label>
                <input asp-for="HIRE_DATE" class="form-control" id="hireDate" />
                <span asp-validation-for="HIRE_DATE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JOB_TITLE" class="control-label"></label>
                <input asp-for="JOB_TITLE" class="form-control" value="@Model.JOB_TITLE" />
                <span asp-validation-for="JOB_TITLE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            // Obtener el valor actual del campo de fecha
            var orderDateValue = $('#orderDate').val();

            // Separar la fecha de la hora y los minutos
            var dateOnly = orderDateValue.split(' ')[0];

            // Establecer el valor del campo de fecha solo con la fecha
            $('#orderDate').val(dateOnly);
        });
    </script>
}
