@model IEnumerable<Proyecto1.Models.Countries>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="wrapper">
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.COUNTRY_NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.REGION_ID)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.COUNTRY_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.REGION_ID)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.COUNTRY_ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.COUNTRY_ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.COUNTRY_ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </<div>
