@model IEnumerable<Proyecto1.Models.Contacts>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="wrapper">
    <p>
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FIRST_NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LAST_NAME)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EMAIL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PHONE)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FIRST_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LAST_NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EMAIL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PHONE)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CONTACT_ID" class="btn btn-warning">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CONTACT_ID" class="btn btn-info">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CONTACT_ID" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
